/*
*
*	author: roberto.deev@gmail.com © 2021 
*
*/

body{
	position: relative;
	top: 0; left: 0;
	width: 100%;
	background-color: #fff;
}

#head-msg1{
	display: inline-block;
	width: 100%;
	background-color: #fefae1;
	overflow: hidden;
	padding: 2% 0;
}

#-head-msg1-icon{
	width: 2.5%;
	margin: 0.3% 1.3% 0.3% 3%;
	vertical-align: middle;
}

#-head-msg1-text{
	display: inline;
	color: #5e739c;
	font-weight: normal;
	vertical-align: middle;
	font-size: 2.5vw;
}


#head-msg2{
	display:  none;
	position: relative;
	padding: 1% 0 1% 1.8%;
	background-color: #e3effc;
	border-bottom: 1px solid #69c1ff;
}

#-head-msg2-text{
	font-size: 2vw;
    color:  #818181;
	font-weight: normal;
	padding: 1%;
}

#-head-msg2-text a{
	color: #7686a7;
	font-weight: bold;
	margin-left: 0.3%;
	font-size: 2vw;
	cursor: pointer;
}

#-head-msg2-boxV{
	position: absolute;
	top: 87%; right: 5%;
	width: 2%;
    transform: rotate(45deg);
	height: 2vw;
	background-color: #e3effc;
	border-bottom: 1px solid #69c1ff;
	border-right: 1px solid #69c1ff;
}

#head-msg3{
	display:  none;
	padding-left: 1.8%;
	background-color: red;
	color:  white;
	border-bottom: 1px solid #69c1ff;
}
#-head-msg3-text{
	font-size: 2.1vw;
    color:  #fff;
	font-weight: normal;
	padding: 1%;
}

#-head-msg3-text a{
	font-size: 2.1vw;
    color:  #fff;
	font-weight: bold;
	cursor: pointer;
}


#head-title{
	display: block;
	width: 100%;
	text-align: center;
	padding: 1% 0;
	margin-top: 4%;
}

#-head-title-img{width: 18%;}

#ghost-body{
	width: 80%;
	margin-left: 11%;
	padding: 1% 0;
}

#user-name, #user-pass{
	width: 100%;
	margin: 1% 0 2% 0;	
	border-radius: 3px;
	background-color: #f5f6f8; 
    border:  0.9px solid #f4f4f4;
    box-shadow: 0px 1px 1px #f5f6f8, 0px -1px 1px #f5f6f8;
}


#_user-name::placeholder{color: #818181;}
#_user-pass::placeholder{color: #818181;}


#_user-name, #_user-pass{
	width: 97.7%;
	margin-left: -0.1%;
	outline: none;
	background-color: #f5f6f8; 
	border: 1px solid #f5f6f8;
	padding: 3% 0 3% 2%;
	font-size: 2.5vw;
}

#_user-name:focus{border: 1px solid #fabe87;}
#_user-pass:focus{border: 1px solid #fabe87;}


#user-name{position: relative;}
#user-pass{position: relative;}

#_pass-ico{
    position: absolute;
	font-size: 2vw;
	top: 35%;
	margin-left: 3%;
	color: 	#4175cb;
	font-weight: bold;
	visibility: hidden;
	cursor: pointer;
	text-shadow: 0 0 0px #000000;
}

#_name-ico{
	width: 4%;
	filter: invert(84%);
	position: absolute;
	top: 27%; right: 2%;
	text-align: right;
	background-color: transparent;
}

#submit-bnt {
	width: 100%;
	margin: 1% 0 2% 0;
	border-radius: 5px;
    border: 1px solid #1878f3;
	background-color: #1878f3;
	color: #fff;
	font-size: 2.2vw;
	padding: 2.4% 0;
	text-shadow: 0 0 2px #000000;
	font-weight: bold;
	cursor: pointer;
}

#hor-row{
	display: grid;
	grid-template-columns: 45% 10% 45%; 
	padding: 2% 0;
	width: 100%;
	text-align: center;
	font-size:  2.4vw;
}

#hor-row p{
	width: 100%;
	margin: auto;
	height: 1px;
	color: #616161;
	background-color: #c3c3c3;
}

#user-new-and-recov-account{
	display: block;
	width: 100%;
	padding: 1% 0;
	margin: 2% 0;
}

#link-new-account{
	display: block;
	text-align: center;
	width: 35%;
	background-color: #00a400;
	padding: 2.5%;
	font-size: 2.2vw;
	text-shadow: 0 0 2px #000000;
	font-weight: bold;
	border: 1px solid #00a400;
	border-radius: 6px;
    margin-left: 30%;
	color: #fff;
	cursor: pointer;
}

#link-rec-pasword{
	display: block;
	text-align: center;
	width: 35%;
	padding: 2.8%;
	font-size: 2.2vw;
	font-weight: normal;
	border-radius: 6px;
    margin-left: 30%;
	color: #487ee5;
	cursor: pointer;
}


#ghost-footer{
	width: 100%;
    margin-top: 2%;
    background-color: #fff;
}

#-lang-options{
	display: grid;
	grid-template-columns: 50% 50%;
	text-align: center;
}

#-left-lang-options, #-right-lang-options{
	font-size: 2.2vw;
	width: 90%;
	padding: 2% 0;
	text-align: center;
    color: #5e739c;
    margin-left: 5%;
}

#-left-lang-options li, #-right-lang-options li{
	display: block;
	width: 60%;
	margin-left: 20%;
	cursor: pointer;
}
#-left-lang-options li:hover, #-right-lang-options li:hover{
	color:  #919191;
}
#lang-selected{
	color: #919191;
	font-weight: bold;
}



#-about{
	margin-top: 4%;
	width: 100%;
    text-align: center;
	font-size: 2.2vw;
	padding: 1% 0;
	color: #94989f;	
	cursor: pointer;
	outline: none;
} 

#-about a{color: #94989f;}

#more-extended{
	width: 90%;
	padding: 2% 0;
	margin: 2% 0 1% 5%;
	color: #94989f;
	display: none;
}

#more-extended a{
	color: #94989f;
	padding: 1% 0;
	font-size: 1.5vw;
	margin: 3% 1%;
}

#-copyr{
	display: block;
	margin-top: 2% 0;
	width: 100%;
	text-align: center;
	padding: 1% 0;
	color: #818181;
	font-size: 2.5vw;
}













